.landing-page-wrapper {
  display: grid;
  grid-template-areas:
    '. image image'
    'content image image'
    'content image image'
    '. image image';
  grid-template-columns: 2fr 1fr 1fr;
}

.card-content {
  display: grid;
  grid-area: content;
  grid-template-areas:
    '. heading heading heading'
    '. title title title '
    '. description description description  '
    '.  . . button';
  grid-template-columns: 0.5fr repeat(3, 1fr);
  text-align: right;
  justify-content: center;
  gap: 10px;
}

.regular-dealcard {
  background: black;
  grid-area: regular-dealcard;
}

.img {
  grid-area: image;
  object-fit: cover;
  max-width: 70%;
  max-height: 100%;
  justify-self: end;
}

.card-heading {
  font-family: Roboto, Helvetica, sans-serif;
  color: #8e8e8e;
  grid-area: heading;
}

.card-description {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  color: #b7b7b7;
  grid-area: description;
}

.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #bfbfbf;
  grid-area: title;
}

.card-button {
  grid-area: button;
  background: transparent;
  color: #e9e9e9;
  border: 1px solid #ff4500;
  font-weight: bold;
  justify-self: right;
  margin-top: 3.125rem;
  padding: 1.6rem 2rem;
  font-size: large;
}
