.landing-page-wrapper-right {
  display: grid;
  grid-template-areas: 
  ". image image" 
  "content image image" 
  "content image image" 
  ". image image" ;
  grid-template-columns: 2fr  1fr 1fr;
}

.card-content-right {
  display: grid;
  grid-area: content;
  grid-template-areas: 
  ". heading heading heading"
  ". title title title "
  ". description description description  "
  ".  . . button";
  grid-template-columns: 0.5fr repeat(3, 1fr);
  text-align: right;
  justify-content: center;
  align-items: center;
}

.landing-page-wrapper-left {
  display: grid;
  grid-template-areas: 
  "image image ." 
  "image image content" 
  "image image content" 
  "image image ." ;
  grid-template-columns: 1fr  1fr 2fr;
}

.card-content-left {
  display: grid;
  grid-area: content;
  grid-template-areas: 
  "heading heading heading ."
  "title title title ."
  "description description . ."
  "button . . .";
  grid-template-columns: repeat(3, 1fr) 0.5fr;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.regular-dealcard {
  background:black;
  grid-area: regular-dealcard
}

.img {
  grid-area: image;
  object-fit: cover;
  max-width: 70%;
  max-height: 100%;
  align-self: center;
}

.grid-column-left {
  justify-self: start;
}

.grid-column-right {
  justify-self: end;
}

.card-heading {
  font-family: Roboto, Helvetica, sans-serif;
  word-wrap: normal;
  color: #8E8E8E;
  grid-area: heading;
}

.card-description {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  color: #B7B7B7;
  grid-area: description
}

.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #BFBFBF;
  grid-area: title;
}

.card-button {
  grid-area: button;
  background: black;
  color: white;
  border: 1px solid #FF4500;
  font-weight: bold;
  font-size: 16px;
  padding: 25px 10px;
  justify-self: right;
  width: 204.7px;
  height: 83.77px;
  margin-top: 3.125rem;
}