.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
  background: black;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  font-size: 7vw;
  color: #a7a7a7;
  margin: 0;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #9e3711;
  margin: 0;
  font-size: 3vw;
}

p {
  font-family: 'Roboto', 'light';
  color: #bfbfbf;
  font-size: 1.7vw;
}
