ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  list-style: none;
  padding: 0.5rem 3rem;
}

img {
  vertical-align: middle;
}

span {
  color: #9e3711;
  padding: 5px;
}

.nav-item {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: start;
  column-gap: 1rem;
}
